main {
  margin: auto;
  padding: 0 20px;
  max-width: 540px;
}

section {
  display: flex;
  flex-direction: column;
}

#output-card {
  white-space: pre-line
}

#output-raw {
}

.entity {
  color: #0070f3;
}
