main {
  margin: auto;
  padding: 0 1rem;
  max-width: 540px;
}

section {
  display: flex;
  flex-direction: column;
}

#output-card {
  white-space: pre-line;
}

#output-raw {
}

details {
  margin-top: 2rem;
}

.entity {
  color: #0070f3;
}
